<% @order_items.each do |item| %>
  <h3><%= item.product.name %></h3>
  <h3><%= item.product.image.price %></h3>
  <h3><%= item.product.type.price %></h3>

  <%= form_with model: item do |f| %>
    <%= f.hidden_field :product_id, value: item.product.id %>
    <%= f.number_field :quantity, value: item.quantity.to_i %>
    <%= f.submit "Update Cart" %>
  <% end %>

  <%= form_with(url: order_item_path(item), method: :delete, remote: true) do |d| %>
    <%= d.submit "Remove" %>
  <% end %>

  <h2>Subtotal: <%= item.total %></h2>
<% end %>

<h3>Your current order has a total of: <%= current_order.subtotal %></h3>