<div class="container-md">
  <table class="table table-dark table-striped text-center align-middle">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product Name</th>
        <th scope="col">Image</th>
        <th scope="col">Type</th>
        <th scope="col">Quantity</th>
        <th scope="col">Subtotal</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @order_items.each do |item| %>
        <tr>
          <th scope="row"><%= item.id %></th>
          <td><%= link_to item.product.name, item.product, :class => "nav-link px-2 text-white" %></td>

          <% if !item.product.image.discount.nil? && !item.product.image.discount.zero? %>
            <td>
              <%= number_to_currency (item.product.image.price * (100 - item.product.image.discount) / 100) / 100 %>
              <span class="text-decoration-line-through text-danger">
                <%= number_to_currency item.product.image.price / 100.0 %>
              </span>
              <span class="text-success">
                <%= item.product.image.discount %>%
              </span>
            </td>
          <% else %>
            <td>
              <%= number_to_currency item.product.image.price / 100.0 %>
            </td>
          <% end %>

          <% if !item.product.type.discount.nil? && !item.product.type.discount.zero? %>
            <td>
              <%= number_to_currency (item.product.type.price * (100 - item.product.type.discount) / 100) / 100 %>
              <span class="text-decoration-line-through text-danger">
                <%= number_to_currency item.product.type.price / 100.0 %>
              </span>
              <span class="text-success">
                <%= item.product.type.discount %>%
              </span>
            </td>
          <% else %>
            <td>
              <%= number_to_currency item.product.type.price / 100.0 %>
            </td>
          <% end %>

          <%= form_with model: item do |f| %>
            <%= f.hidden_field :product_id, value: item.product.id %>
            <td class="col-sm-2"><%= f.number_field :quantity, value: item.quantity.to_i, min: 1, :class => "col-sm-5" %></td>
            <td><%= number_to_currency item.total / 100 %></td>
            <td><%= f.submit "Update", :class => "btn btn-secondary" %></td>
          <% end %>

          <%= form_with(url: order_item_path(item), method: :delete, remote: true) do |d| %>
            <td><%= d.submit "Remove", :class => "btn btn-danger" %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <h3>Your current order has a total of: <%= number_to_currency current_order.subtotal / 100 %></h3>

  <% if current_order.order_items.present? %>
    <%= form_with(url: checkout_create_path, remote: true) do |f| %>
      <%= f.label :province_id, :class => "form-label" %>
      <% if user_signed_in? %>
        <%= f.select(:province_id, options_for_select(Province.all.collect {|p| [ p.name, p.id ] }, current_user.province_id), { include_blank: true }, :required => 'required',  :class => 'form-control form-control-lg')%>
      <% else %>
        <%= f.select(:province_id, options_for_select(Province.all.collect {|p| [ p.name, p.id ] }), { include_blank: true }, :required => 'required',  :class => 'form-control form-control-lg')%>
      <% end %>
      <%= f.submit "Checkout Now!", :class => "btn btn-outline-secondary mt-md-5 mb-md-1" %>
    <% end %>
  <% end %>
</div>