<div class="vh-150 clearfix">
  <h2 class="text-center">Edit <%= resource_name.to_s.humanize %></h2>
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="offset-xl-1">

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control form-control-lg" %>
            <%= f.label :email, :class => "form-label" %>
          </div>

          <div class="form-outline mb-4">
            <%= f.select(:province_id, Province.all.collect {|p| [ p.name, p.id ] }, { include_blank: true }, :class => 'form-control form-control-lg')%>
            <%= f.label :province_id, :class => "form-label" %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div class="form-check">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="form-outline mb-4">
            <%= f.password_field :password, autocomplete: "new-password", :class => "form-control form-control-lg" %>
            <%= f.label :password, :class => "form-label" %> <i>(leave blank if you don't want to change it)</i>
            <% if @minimum_password_length %>
              <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
          </div>

          <div class="form-outline mb-4">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => "form-control form-control-lg" %>
            <%= f.label :password_confirmation, :class => "form-label" %>
          </div>

          <div class="form-outline mb-4">
            <%= f.password_field :current_password, autocomplete: "current-password", :class => "form-control form-control-lg" %>
            <%= f.label :current_password, :class => "form-label" %> <i>(we need your current password to confirm your changes)</i>
          </div>

          <!-- Submit button -->
          <div class="d-grid gap-2">
            <%= f.submit "Update", :class => "btn btn-secondary btn-lg btn-block" %>
          </div>
        <% end %>

        <h3>Cancel my account</h3>

        <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => "btn btn-danger" %></p>

        <%= link_to "Back", :back %>

      </div>
    </div>
  </div>
</div>
