<div id="intro" class="p-5 text-center">
  <%= link_to "New Types", types_new_type_path, :class => "btn btn-primary" %>
  <%= link_to "Renctly Updated", types_recent_update_path, :class => "btn btn-primary" %>
  <%= link_to "On Sale", types_on_sale_path, :class => "btn btn-primary" %>
</div>

<div id="intro" class="p-5 text-center">
  <h1 class="mb-0">Types</h1>
</div>

<%= paginate @types %>

<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">

  <%= render @types %>

  </div>
</div>