<div class="card text-center">
  <% if type.image.present? %>
    <%= link_to image_tag(type.image.variant(resize_to_limit: [400, 600]).processed, alt: type.name, :class => "card-img-top"), type %>
  <% end %>
  <div class="card-body">
    <h5 class="card-title"><%= link_to type.name, type %></h5>
    <p class="card-text"><small class="text-muted">Last updated <%= time_ago_in_words(type.updated_at) %> ago</small></p>
  </div>
  <ul class="list-group list-group-flush">
    <% if !type.discount.nil? && !type.discount.zero? %>
      <li class="list-group-item">
        <%= number_to_currency (type.price * (100 - type.discount) / 100) / 100 %>
        <span class="text-decoration-line-through text-danger">
          <%= number_to_currency type.price / 100.0 %>
        </span>
        <span class="text-success">
          <%= type.discount %>%
        </span>
      </li>
    <% else %>
      <li class="list-group-item">
        <%= number_to_currency type.price / 100.0 %>
      </li>
    <% end %>
  </ul>
</div>