<footer class="py-3 my-4">
  <%= image_tag('Logo.png', size: "500x500", alt: "Logo", :class => "mx-auto d-block") %>
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item"><a href=<%= root_path %> class="nav-link px-2 text-muted">Home</a></li>
    <li class="nav-item"><a href=<%= contexts_about_path %> class="nav-link px-2 text-muted">About</a></li>
    <li class="nav-item"><a href=<%= animes_index_path %> class="nav-link px-2 text-muted">Animes</a></li>
    <li class="nav-item"><a href=<%= images_index_path %> class="nav-link px-2 text-muted">Images</a></li>
    <li class="nav-item"><a href=<%= types_index_path %> class="nav-link px-2 text-muted">Types</a></li>
    <li class="nav-item"><a href=<%= products_index_path %> class="nav-link px-2 text-muted">Products</a></li>
  </ul>
  <p class="text-center text-muted">© 2022 Andy's Big Drinker</p>
</footer>