<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href=<%= root_path %> class="nav-link px-2 text-white">Home</a></li>
		      <li><a href=<%= about_index_path %> class="nav-link px-2 text-white">About</a></li>
          <li><a href=<%= animes_index_path %> class="nav-link px-2 text-white">Animes</a></li>
        </ul>

        <%= form_with(url: search_animes_path, method: :get, local: true) do %>
          <div class="input-group">
          <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search" name="keywords"/>

            <label class="input-group-text" for="searchCategory">Anime Title</label>
            <select id="searchCategory" class="form-control form-control-dark" name="anime">
              <option value="">All</option>
              <% Anime.all.each do |anime| %>
              <option value=<%= anime.id %>><%= anime.name %></option>
              <% end %>
            </select>

          </div>
        <% end %>

      </div>
    </div>
</header>