<header class="p-3 bg-dark text-white">
    <div class="container-max-widths">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href=<%= root_path %> class="nav-link px-2 text-white">Home</a></li>
		      <li><a href=<%= contexts_about_path %> class="nav-link px-2 text-white">About</a></li>
          <li><a href=<%= animes_index_path %> class="nav-link px-2 text-white">Animes</a></li>
          <li><a href=<%= images_index_path %> class="nav-link px-2 text-white">Images</a></li>
          <li><a href=<%= types_index_path %> class="nav-link px-2 text-white">Types</a></li>
          <li><a href=<%= products_index_path %> class="nav-link px-2 text-white">Products</a></li>
        </ul>

        <%= form_with(url: search_animes_path, method: :get, local: true) do %>
          <div class="input-group">
            <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search" name="keywords"/>

            <label class="input-group-text" for="searchCategory">Title</label>
            <select id="searchCategory" class="form-control form-control-dark" name="anime">
              <option value="">All</option>
              <% Anime.all.each do |anime| %>
              <option value=<%= anime.id %>><%= anime.name %></option>
              <% end %>
            </select>
          </div>
        <% end %>

        <% if !user_signed_in? %>
          <div class="text-end">
            <%= link_to "Login", new_user_session_path, :class => "btn btn-outline-light me-2" %>
            <%= link_to "Sign up", new_user_registration_path, :class => "btn btn-warning" %>
          </div>
        <% else %>
          <div class="dropdown text-end">
            <a href="#" class="d-block text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
              <%= image_tag('Logo.png', draggable: "true", id: "drag1", alt: "Logo", size:"32x32", :class => "rounded-circle") %>
            </a>
            <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
              <li><a class="dropdown-item" href="http://localhost:31337/project/project1.0/account/create.php">New Post</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><%= button_to "Sign out", destroy_user_session_path, :class => "dropdown-item", method: :delete %></li>
            </ul>
          </div>
        <% end %>

      </div>
    </div>
</header>