<tr>
  <th scope="row"><%= link_to order.id, order, :class => "nav-link px-2 text-white" %></th>
  <td><%= order.payment %></td>
  <td><%= number_to_currency order.subtotal / 100.0 %></td>
  <td><%= number_to_currency order.total / 100.0 %></td>
  <td><%= order.status %></td>
</tr>
