<div id="intro" class="p-5 text-center">
    <h1 class="mb-0">
    <% if @totals.count > 0 %>
      <p><%= "Name / Description: " + params[:keywords] unless params[:keywords] == "" %></p>
      <p>Anime Title: <%= params[:anime] == "" ? "All" : @animes.first.name %></p>
      <p>Found <%= pluralize(@totals.count, 'Anime') %></p>
    <% else %>
      <p>Oops! We cannot find any matched result!<p>
    <% end %>
    </h1>
</div>

<%= paginate @animes %>

<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">

  <%= render @animes %>

  </div>
</div>