<div class="container">
<h1><%= @anime.name %></h1>
<ul>
  <li>Anime Title: <%= @anime.name %></li>
  <li>Description: <%= @anime.description %></li>
  <li><%= pluralize(@anime.images.count, 'Image') %>:</li>
    <ul>
      <% @anime.images.each do |image| %>
      <li><%= image.name %></li>
        <% if image.image.present? %>
          <div class="card-image">
            <figure class="image">
              <%= image_tag image.image %>
            </figure>
          </div>
        <% end %>
      <% end %>
    </ul>
  </li>
</ul>
</div>