<div class="container">
  <h1><%= @anime.name %></h1>
  <ul>
    <li>Anime Title: <%= @anime.name %></li>
    <li>Description: <%= @anime.description %></li>
  </ul>

  <div id="intro" class="p-5 text-center">
    <h1 class="mb-0"><%= pluralize(@anime.images.count, 'Image') %></h1>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4">
  <% @anime.images.each do |image| %>
      <% if image.image.present? %>
        <div class="card text-center">
          <%= link_to image_tag(image.image, alt: image.name, size:"400x600", :class => "card-img-top"), image %>
          <div class="card-body">
            <h5 class="card-title"><%= link_to image.name, image %></h5>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Price: <%= image.price %></li>
          </ul>
        </div>
      <% end %>
  <% end %>
  </div>

</div>