<div class="container">
  <h1><%= @product.name %></h1>
  <h5 class="card-text">In Stock: <%= @product.stock %></h5>
  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

  <div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4">

      <% if @product.type.image.present? %>
        <div class="card text-center">
          <%= link_to image_tag(@product.type.image, alt: @product.type.name, size:"400x600", :class => "card-img-top"), @product.type %>
          <div class="card-body">
            <h5 class="card-title"><%= link_to @product.type.name, @product.type, :class => "card-link" %></h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Price: <%= @product.type.price %></li>
          </ul>
        </div>
      <% end %>

      <% if @product.image.image.present? %>
        <div class="card text-center">
          <%= link_to image_tag(@product.image.image, alt: @product.image.name, size:"400x600", :class => "card-img-top"), @product.image %>
          <div class="card-body">
            <h5 class="card-title"><%= link_to @product.image.name, @product.image, :class => "card-link" %></h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Price: <%= @product.image.price %></li>
          </ul>
        </div>
      <% end %>

    </div>
  </div>

  <div id="intro" class="p-5 text-center">
    <h5 class="card-text">Total: <%= @product.type.price + @product.image.price %></h5>
    <a href="#" class="btn btn-primary">Add to Cart</a>
  </div>

</div>