<div class="container">
  <h1><%= @product.name %></h1>
  <h5 class="card-text">In Stock: <%= @product.stock %></h5>
  <p class="card-text"><small class="text-muted">Last updated <%= time_ago_in_words(@product.updated_at) %> ago</small></p>

  <div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4">

      <%= render @product.type %>

      <%= render @product.image %>

    </div>
  </div>

  <div id="intro" class="p-5 text-center">
    <h5 class="card-text">
      Total: <%= number_to_currency ((@product.type.price * (100 - @product.type.discount) / 100) + (@product.image.price * (100 - @product.image.discount) / 100)) / 100 %>
    </h5>
    <a href="#" class="btn btn-primary">Add to Cart</a>
  </div>

</div>