<div class="card text-center">
  <% if image.image.present? %>
    <%= link_to image_tag(image.image, alt: image.name, size:"400x600", :class => "card-img-top"), image %>
  <% end %>
  <div class="card-body">
    <h5 class="card-title"><%= link_to image.name, image, :class => "card-link" %></h5>
    <p class="card-text"><small class="text-muted">Last updated <%= time_ago_in_words(image.updated_at) %> ago</small></p>
  </div>
  <ul class="list-group list-group-flush">
    <% if !image.discount.nil? && !image.discount.zero? %>
      <li class="list-group-item">
        <%= number_to_currency (image.price * (100 - image.discount) / 100) / 100 %>
        <span class="text-decoration-line-through text-danger">
          <%= number_to_currency image.price / 100.0 %>
        </span>
        <span class="text-success">
          <%= image.discount %>%
        </span>
      </li>
    <% else %>
      <li class="list-group-item">
        <%= number_to_currency image.price / 100.0 %>
      </li>
    <% end %>
  </ul>
</div>