<div id="intro" class="p-5 text-center">
  <%= link_to "New Images", images_new_image_path, :class => "btn btn-primary" %>
  <%= link_to "Renctly Updated", images_recent_update_path, :class => "btn btn-primary" %>
  <%= link_to "On Sale", images_on_sale_path, :class => "btn btn-primary" %>
</div>

<div id="intro" class="p-5 text-center">
  <h1 class="mb-0">Images</h1>
</div>

<%= paginate @images %>

<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">

    <%= render @images %>

  </div>
</div>