<div class="container">
  <h1><%= @image.name %></h1>
  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  <% if @image.image.present? %>
    <div class="col-sm-4">
        <div class="card">
          <%= image_tag(@image.image, alt: @image.name, :class => "card-img-top") %>
          <div class="card-body">
            <h5 class="card-title"><%= link_to @image.anime.name, @image.anime %></h5>
            <p class="card-text"><%= @image.anime.description %></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Price: <%= @image.price %></li>
          </ul>
          <div class="card-body">
            <% @image.types.each do |type| %>
              <%= link_to type.name, products_find_path(:type => type, :anime => @image), :class => "card-link" %>
            <% end %>
          </div>

        </div>
      </div>
  <% end %>
</div>