<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Andy's Big Drinker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://js.stripe.com/v3"></script>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
      <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render partial: 'shared/header' %>

    <% if flash[:notice] %>
      <p class="text-center align-middle bg-success p-2 text-dark bg-opacity-25">
        <%= flash[:notice] %>
      </p>
    <% end %>

    <div class="container nav-link px-2 fw-bold fs-6 text-dark">
      <%= render_breadcrumbs :separator => ' > ' %>
    </div>


    <%= yield %>

    <%= render partial: 'shared/footer' %>
  </body>
</html>
